{lib_dirs,["deps"]}.
{src_dirs, ["src", "test"]}.
{excl_archive_filters, [".*"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
	 {'resource_discovery', ".*", {git, "git://github.com/erlware/resource_discovery.git", "master"}}
       ]}.    

{post_hooks, [{compile, "cp ./etc/sys.config ./ebin/sys.config"}]}.


